@import "../../scss/variables";

$easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    isolation: isolate;

    p {
        font-size: 6rem;
        letter-spacing: -0.3rem;
        font-weight: 500;
        font-family: FKGroteskNeue;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.75);
        /* backdrop-filter: blur(2px); */
    }
}

.cursor,
.cursor-background,
.image {
    position: fixed;
    top: var(--mouse-y);
    left: var(--mouse-x);
    pointer-events: none;
}

.cursor,
.cursor-background {
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.cursor {
    width: 5px;
    height: 5px;
    z-index: 10;
    background: white;
    transition:
        top 0.2s $easing,
        left 0.2s $easing;
}

.cursor-background {
    width: 34px;
    height: 34px;
    z-index: 5;
    background: white;
    opacity: 0.2;
    transition:
        top 0.22s $easing,
        left 0.22s $easing,
        transform 0.7s $easing1;
    transform: translate(-50%, -50%) scale(var(--cursor-scale));
}

.image {
    width: 110px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
    opacity: var(--images-opacity);
    transform: translate(20px, calc(-100% - 17px));
    transition:
        top var(--duration) $easing,
        left var(--duration) $easing,
        opacity 0.3s $easing;
}
